@font-face {
    font-family: "EdwardianScriptITC";
    src: url('EdwardianScriptITC.ttf');
}

@font-face {
    font-family: "Caslon";
    src: url('Adobe Caslon Pro.ttf');
}

@font-face {
    font-family: "proxima";
    src: url('ProximaNova-Light.otf');
}

@font-face {
    font-family: "Futura";
    src: url('Futura (Light).ttf');
}

@font-face {
    font-family: "Garamond";
    src: url('FAdobe Garamond Pro Regular.ttf');
}

body {
    margin: 0;
}

.black-border {
    border: 2px solid white;
    padding-left: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 30px;
}

.black-border:hover {
    background: white;
    transition: 1s;
}

.sidebar li:nth-child(4):hover {
    color: black;
    transition: 1s;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 250%;
    position: absolute;
    top: 45% !important;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

h2 {
    color: white;
}

div#content {
    font-family: EdwardianScriptITC;
    font-size: 200%;
    position: absolute;
    top: 30% !important;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

@keyframes pulse {
    0% {
        color: black;
    }
    100% {
        color: red;
    }
}

.logo {
    position: absolute;
    z-index: 3;
    width: 60px;
    left: 20px;
    top: 30px;
}

video {
    display: none;
}

.face-pic {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.face-pic:hover {
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
}

div.page-content {
    position: relative;
    z-index: 0;
    height: 70vh;
    width: 100%;
    right: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    transition: .5s ease;
    background-image: url(images/bb8a06_4208df4b47234071be2e0f7dd9e6a762_mv2_d_2911_2511_s_4_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio {
    position: relative;
    text-align: center;
    transition: .5s ease;
    background-color: #edeef0;
    margin-top: -11.5%;
    padding-bottom: -50px;
    right: 0;
}

.text-wrap {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.text-wrap h3 {
    font-size: 3em;
    font-family: proxima, Futura;
    padding-top: 65px;
}

.text-wrap p {
    font-size: 1em;
    font-family: proxima, Futura;
    opacity: .7;
    line-height: 20px;
}

.text-wrap p:nth-child(2) {
    font-size: 1.2em;
    font-family: proxima, Futura;
}

.user {
    width: 100%;
    position: absolute;
    height: 400px;
}

.user h3 {
    font-size: 3em;
    font-family: proxima, Futura;
    margin-top: 130px;
}

.user p {
    font-size: 1em;
    font-family: proxima, Futura;
    width: 70%;
    opacity: .7;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.user p:nth-child(3) {
    font-size: 1.3em;
    border: 2px solid black;
    width: 150px;
    border-radius: 50px;
    height: 35px;
    margin-top: 40px;
    padding-top: 12px;
    font-family: Garamond;
}

.user p:nth-child(3):hover {
    background-color: black;
    color: white;
    transition: .5s;
}

.pics {
    text-align: center;
    margin-top: 100%;
    padding-top: 50px;
    transition: .5s ease;
    position: absolute;
    width: 100%;
    right: 0;
    background-color: #edeef0;
    margin-top: 700px;
    height: 550px;
}

.pics p {
    font-size: 1em;
    font-family: proxima, Futura;
}

.pics h3 {
    font-size: 2em;
    font-family: proxima, Futura;
}

.whatever {
    margin-left: auto;
    margin-right: 0;
}

.whatever img {
    width: 150px;
}

.whatever img:hover {
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
}

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    transition: .5s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -190px;
    bottom: 0;
    width: 120px;
    padding: 30px;
    background: #26262a;
    z-index: 0;
    transition: .5s ease;
}

.sidebar ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.sidebar li {
    color: rgba(255, 255, 255, 0.8);
    font-family: Garamond, Futura;
    font-size: 20px;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    margin-top: 30px;
}

.sidebar li:hover {
    color: rgba(255, 255, 255, 1);
}

.navigation {
    display: none;
}

.nav-icon {
    height: 85px;
    width: 70px;
    position: relative;
    margin: 0px 10px;
    float: left;
}

.nav-icon div {
    height: 5px;
    width: 53%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.3s;
}

.nav-icon div:before {
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    background: white;
    transition-duration: 0.3s;
    transition-delay: 0s;
    margin-top: 6px;
}

.nav-icon div:after {
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    background: white;
    transition-duration: 0.3s;
    transition-delay: 0s;
    margin-top: -6px;
}

.nav-icon div::before {
    top: -20px;
}

.nav-icon div::after {
    top: 20px;
}

.cross.active .span::before {
    top: -13px;
    transform: rotate(45deg);
}

.cross.active .span::after {
    top: 0;
    transform: rotate(-45deg);
}

.cross.active .span {
    background: none;
}

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked+.page-wrap .sidebar {
    right: 0px;
}

#sidebartoggler:checked+.page-wrap .toggle {
    right: 200px;
}

#sidebartoggler:checked+.page-wrap .page-content {
    right: 180px;
}

#sidebartoggler:checked+.page-wrap .bio {
    right: 180px;
}

#sidebartoggler:checked+.page-wrap .pics {
    right: 180px;
}

#sidebartoggler:checked+.page-wrap .learn-more {
    right: 180px;
}

#sidebartoggler:checked+.page-wrap .footer {
    right: 180px;
}

.powered {
    text-align: center;
    font-size: .5em;
    border: 2px solid grey;
    width: 100px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 22px;
}

a {
    text-decoration: none;
    color: inherit;
}

.learn-more {
    width: 100%;
    height: 80px;
    background-color: #353439;
    margin-top: 1300px;
    position: absolute;
    transition: .5s ease;
    right: 0;
}

.learn-more p {
    text-align: center;
    margin-top: 30px;
    font-size: .9em;
    color: white;
    font-family: proxima;
}

.learn-more span {
    margin-left: 10px;
    font-family: Garamond;
    font-size: 1.4em;
    text-decoration: underline;
}

.footer {
    width: 100%;
    height: 600px;
    margin-top: 1380px;
    position: absolute;
    background-color: #26262a;
    transition: .5s ease;
    right: 0;
}

.navigation-footer {
    position: relative;
    top: 50px;
    display: inline-block;
    text-align: center;
}

.navigation-footer ul {
    list-style: none;
}

.navigation-footer li {
    color: rgba(255, 255, 255, 1);
    font-family: Garamond, Futura;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 16px;
    cursor: pointer;
    display: inline-block;
    padding-right: 100px;
    padding-left: 65px;
    padding-top: 15px;
}

.footer p {
    text-align: center;
    margin-top: 100px;
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.3);
    font-family: proxima;
    line-height: 30px;
}

.footer p span {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 1);
}

.icons {
    display: inline-block;
}

.social-media {
    text-align: center;
    margin-top: 70px;
}

.icons img {
    width: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: black;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    opacity: .4;
    z-index: 1000;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: black;
    opacity: .4;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

@media screen and (min-device-width: 900px) and (min-width: 900px) {
    .logo {
        position: absolute;
        z-index: 3;
        width: 80px;
        left: 20px;
        top: 20px;
    }
    .logo:hover {
        transform: scale(1.1);
        transition: .7s;
    }
    .page-content {
        max-height: 600px;
        position: relative;
    }
    .toggle {
        display: none;
        transition: none;
    }
    .sidebar {
        display: none;
        right: 20px;
    }
    .navigation {
        position: absolute;
        right: -250px;
        top: 30px;
        width: 600px;
        z-index: 5;
        display: inline;
    }
    .navigation ul {
        list-style: none;
    }
    .navigation li {
        color: red;
        font-family: Garamond, Futura;
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 16px;
        cursor: pointer;
        display: inline;
        padding-right: 20px;
        margin-right: 20px;
    }
    .navigation li:hover {
        color: rgba(255, 255, 255, 1.0);
    }
    .navigation li:nth-child(4):hover {
        color: red;
        text-decoration: none;
    }
    .black-border {
        border: 2px solid white;
        padding-left: 16px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 30px;
    }
    .black-border:hover {
        background: white;
    }
    .bio {
        width: 100%;
        height: 450px;
        margin-top: 5%;
        position: relative;
    }
    .face-pic {
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 70px;
        margin-right: 10%;
        float: right;
        width: 270px;
    }
    .face-pic:hover {
        box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
    }
    .text-wrap {
        width: 50%;
        text-align: center;
        margin-left: 7%;
        position: relative;
        padding-top: 20px;
        float: left;
        margin-top: -20px;
    }
    .text-wrap p {
        font-size: 22px;
        font-family: proxima, Futura;
        opacity: .7;
        line-height: 30px;
    }

    .text-wrap p:nth-child(2) {
        font-size: 27px;
        font-family: proxima, Futura;
    }
    h3 {
        font-size: 30px;
        font-family: sans-serif;
    }
    h1 {
        font-size: 80px;
        opacity: 0;
        top: 55% !important;
    }
    div#content {
        font-size: 60px;
        opacity: 0;
        top: 35% !important;
    }
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        display: flex !important;
    }
    .pics {
        width: 100%;
        margin-top: 500px;
        position: absolute;
        text-align: center;
        background-color: #edeef0;
        height: 450px;
    }
    .whatever {
        margin-left: auto;
        margin-right: auto;
    }
    .whatever img {
        width: 220px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .whatever img:hover {
        box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
    }
    .powered {
        text-align: center;
        margin-top: 100px;
        font-size: .7em;
        border: 2px solid grey;
        width: 140px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        font-family: Futura;
        height: 32px;
        position: relative;
    }
    .user {
        width: 100%;
        position: absolute;
        height: 400px;
        margin-top: 500px;
    }
    .user h3 {
        font-size: 3em;
        font-family: proxima, Futura;
        margin-top: 100px;
    }
    .user p {
        font-size: 22px;
        font-family: proxima, Futura;
        opacity: .7;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        line-height: 30px;
    }
    .user p:nth-child(3) {
        font-size: 22px;
        border: 2px solid black;
        width: 150px;
        border-radius: 60px;
        height: 35px;
        margin-top: 50px;
        padding-top: 10px;
        padding-bottom: 6px;
        font-family: Garamond;
    }
    .user p:nth-child(3):hover {
        background-color: black;
        color: white;
        transition: .5s;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .learn-more {
        width: 100%;
        height: 130px;
        background-color: #353439;
        margin-top: 1000px;
        position: absolute;
    }
    .learn-more p {
        text-align: center;
        margin-top: 50px;
        font-size: 2em;
        color: white;
        font-family: proxima;
    }
    .learn-more span {
        margin-left: 20px;
        font-family: Garamond;
        text-decoration: none;
    }
    .learn-more span:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .footer {
        width: 100%;
        height: 400px;
        margin-top: 1130px;
        position: absolute;
        background-color: #26262a;
    }
    .navigation-footer {
        position: relative;
        top: 50px;
        display: inline;
        text-align: center;
    }
    .navigation-footer ul {
        list-style: none;
    }
    .navigation-footer li {
        color: rgba(255, 255, 255, 0.8);
        font-family: Garamond, Futura;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 16px;
        cursor: pointer;
        display: inline;
        padding-right: 100px;
        padding-left: 50px;
    }
    .navigation-footer li:hover {
        color: rgba(255, 255, 255, 1.0);
    }
    .footer p {
        text-align: center;
        margin-top: 130px;
        font-size: 2.5em;
        color: rgba(255, 255, 255, 0.3);
        font-family: proxima;
    }
    .footer p span {
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0.7);
    }
    .footer p span:hover {
        color: rgba(255, 255, 255, 1.0);
        cursor: pointer;
    }
    .icons {
        display: inline-block;
    }
    .social-media {
        text-align: center;
        margin-top: 70px;
    }
    .icons img {
        width: 15px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: .7;
    }
    .icons img:hover {
        opacity: 1;
    }
}
